*{
    padding: 0px;
    margin: 0 auto;

}
body{
    display: flex;
    justify-content: center;
}
main{
    background-color: rgb(241, 232, 232);
    max-width: 100%;
    min-width: 360px;
}
h1,h2,h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.box1{
    margin: 15px;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    align-content: center;
    margin-bottom: 10px;
}
.box2 img{
    max-width: 100%;
    min-width: 360px;
}

.box2{
    background-color: white;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px;
    text-align: center;
    
}
.box3{
    text-align: center;
    margin: 0 auto;

}
ul li{
    margin-bottom: 15px;
}
ul{
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
}