body{
    display: flex;
    justify-content: center;

}
.a{
    background-color: rgb(241, 232, 232);
    width: 1300px;
    height: auto;
    margin-top: 20px;
    text-align: center;
}
h1,h4{
    text-align: center;
}
.b{
    text-align: center;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
}
.c{
    background-color: rgb(241, 232, 232);
    text-align: center;

}
ul{
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    display: block;
}
.d{
    font-size: 25px;
    margin-bottom: 40px;
    
}